//- Подключаем конфиг с переменными
block config
	include _config.pug

//- Инклюдим компоненты которые с миксинами


doctype html
html(lang="ru-RU")
	head
		include _head.pug
		block title 
			title #{headTitle}

		//css
		block cssLinks
			link(rel="stylesheet" href=cssPath+"/main.css")

	body

		// Прелоадер
		include ../../components/preloader/preloader
		
		// Шапка
		
		header.l-header.j-header
			include _header.pug

		// Контент
		main.l-content
			block content

		// Подвал
		footer.l-footer.b-footer.b-section
			include _footer.pug

		// Мобильное меню
		include ../../components/mobileMenuLanding/mobileMenuLanding

		// Спрайт svg
		include _sprite.html
					
		// script
		block scripts
			script(src="https://api-maps.yandex.ru/2.1.64/?lang=ru_RU")
			script(src="js/app.min.js")
