nav.b-mobileMenu.j-mobileMenu
	.b-mobileMenu__close.j-mobileMenu__close
		.b-mobileMenu__close-line
		.b-mobileMenu__close-line
	ul.b-mobileMenu__list.j-mobileMenu__list
		li.b-mobileMenu__item
			a.b-mobileMenu__link.j-mobileMenu__link(href="#b-about") Обо мне
		li.b-mobileMenu__item
			a.b-mobileMenu__link.j-mobileMenu__link(href="#b-skills") Навыки
		li.b-mobileMenu__item
			a.b-mobileMenu__link.j-mobileMenu__link(href="#b-works") Мои работы
		li.b-mobileMenu__item
			a.b-mobileMenu__link.j-mobileMenu__link(href="#b-contact") Контакты