section.b-about.b-section#b-about
	.b-container
		.b-about__title.b-title 
			h2 Обо мне
		.b-about__block
			.b-about__left
				picture.b-about__img
					source(srcset="img/I.jpg" media="(min-width: 769px)")
					source(srcset="img/tablets/I_tablets.jpg" media="(min-width: 481px)")
					source(srcset="img/phone/I_phone.jpg" media="(min-width: 200px)")
					source(srcset="img/I.jpg")
					img(src="img/I.jpg" alt="картинка" title="Беспалов Евгений")
			.b-about__right
				.b-about__text
					p Здравствуйте, меня зовут Евгений. Занимаюсь разработкой современных, функциональных веб-сайтов и интерфейсов с нуля. Делаю адаптивную верстку без фреймворка Bootstrap.
					p В работе использую такие технологии как:
					ul
						li 
							span Html / html5
						li
							span Css / css3
						li
							span Препроцессор Sass (scss)
						li
							span Шаблонизатор Pug
						li
							span Flex / Grid
						li
							span Animation / SVG
						li
							span Javascript / jQuery
						li
							span Gulp / Webpack / Babel
					p Любой начатый проект верстаю кроссбраузерно, валидно, на выходе получается чистый и легко поддерживаемый код. Постоянно совершенствую свой профессиональный уровень.