section.b-contact.b-section#b-contact
	.b-container
		.b-contact__title.b-title
			h2 Контакты
	.b-container
		.b-contact__list
			.b-contact__list-item
				a(href="skype:desh19863")
					svg.b-icon(width="33px" height="38px")
						use(xlink:href="#icon-skype")
					span desh19863
			.b-contact__list-item
				a(href="tel:+79643704121")
					svg.b-icon(width="24px" height="38px")
						use(xlink:href="#icon-phone")
					span  +7 964 370 41 21
			.b-contact__list-item
				a(href="mailto:bespalove.mir@gmail.com")
					svg.b-icon(width="33px" height="38px")
						use(xlink:href="#icon-email")
					span  bespalove.mir@gmail.com
			.b-contact__list-item
				svg.b-icon(width="28px" height="38px")
					use(xlink:href="#icon-placemark")
				span  Россия, Санкт-Петербург
