.b-mainScreen {
	@include bg(cover);
	background-image: url(../img/mainscreen.jpg);
	min-width: 310px;
	height: 100vh;
	padding-top: 20vh;
	text-align: center;
}

.b-mainScreen__title {
	font-size: rem(14px);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
	margin-bottom: 20vh;
	opacity: 0;
}

.b-mainScreen__name {
	@include ptSans(bold);
	font-size: rem(60px);
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: 2px;
	margin-bottom: 3vh;

	span {
		position: relative;
		display: inline-block;
		opacity: 0;
		padding: 0 10px;
	}
}

.b-mainScreen__text {
	height: 22px;
	font-size: rem(18px);
	color: $blue;
	letter-spacing: 2px;
	line-height: 1;
	margin-bottom: 10vh;
	overflow: hidden;

	span {
		position: relative;
		@include inlineBlock();
		opacity: 0;
	}
}

@keyframes scrollDown {
	0% {
		top: 50%;
	}
	50% {
		top: 70%;
	}
	100% {
		top: 50%;
	}
}

@keyframes slideInUp {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		bottom:-20px;
		visibility: visible;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes textIuUp {
	from {
		bottom: -40px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.page__active {
	.b-mainScreen__title {
		animation-name: slideInUp;
		animation-delay: 1s;
		animation-duration: 1s;
		animation-fill-mode: both;
	}

	.b-mainScreen__name {
		span {
			animation-duration: 1.5s;
			animation-fill-mode: both;

			&:first-child {
				animation-name: slideUp;
				animation-delay: 1.5s;
			}

			&:last-child {
				animation-name: slideUp;
				animation-delay: 1.8s;
			}
		}
	}
	.b-mainScreen__text {
		span {
			animation-name: textIuUp;
			animation-duration: 0.3s;
			animation-delay: $delay;
			animation-timing-function: ease;
			animation-fill-mode: both;
		}
	}
	.b-anchor {
		animation-name: textIuUp;
		animation-delay: 4.1s;
		animation-duration: 1s;
		animation-timing-function: ease;
		animation-fill-mode: both;
	}
}

	/* цикл для генерации nth-child() 
	   и установки задержки анимации */

	@for $i from 1 through $length {
		.b-mainScreen__text span:nth-child(#{$i}) {
			animation-delay: $delay + $i / 15 + s;
		}
	}