.b-mainScreen#b-mainScreen
	.b-container
		h1.b-mainScreen__title Сайт-Портфолио веб-разработчика
		.b-mainScreen__name 
			span Беспалов 
			span Евгений
		.b-mainScreen__text 
			span j
			span u
			span n
			span i
			span o
			span r
			span &nbsp;
			span f
			span r
			span o
			span n
			span t
			span -
			span e
			span n
			span d
			span &nbsp;
			span р
			span а
			span з
			span р
			span а
			span б
			span о
			span т
			span ч
			span и
			span к
		include ../../components/anchor/anchor