.b-skills {
	@include bg();
	background-image: url(../img/skills.jpg);
	background-attachment: fixed;
	position: relative;
	color: $white;

	@include tablets {
		background-image: url(../img/tablets/skills.jpg);
		background-attachment: scroll;
	}
	
	// Запросы для IE 10+
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		background-attachment: scroll;
	}
}

.b-skills__title {
	color: $white;
}