// vars
$text: #252525;
$white: #ffffff;
$black: #000;
$blue: #02A8F4;
$delay: 2;
$length: 47;

// layout
@import "_misc/font";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/setting";

// components
@import "../components/preloader/preloader";
@import "../components/logo/logo";
@import "../components/menuLanding/menuLanding";
@import "../components/burger/burger";
@import "../components/anchor/anchor";
@import "../components/progressBarRadial/progressBarRadial";
@import "../components/tabSort/tabSort";
@import "../components/map/map";
@import "../components/buttonTop/buttonTop";
@import "../components/mobileMenuLanding/mobileMenuLanding";

// style
@import "../pages/layout/_layout";
@import "../pages/layout/_header";
@import "../pages/index";
@import "../pages/section/mainScreen";
@import "../pages/section/about";
@import "../pages/section/skills";
@import "../pages/section/works";
@import "../pages/section/contact";
@import "../pages/layout/_footer";

// media queris
@import "../css/adaptive/adaptive"